# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=5dc2165f4a06df03e57b5c56d518548b
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

# Path to the root package this instance is serving
NETWORQ_GRAPH=/path/to/my/networq

# Where to search for global packages:
NETWORQ_PATH=~/networq

# Load example nodes
NETWORQ_EXAMPLES=false
