@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";

body > .container {
  padding-top: 70px;
}

.buttonbox {
  text-align: right;
  margin-bottom: 10px;
}
