{% extends "base.html.twig" %}

{% block content %}
  <div class="container">
    <h1><i class="fa fa-sitemap"></i> {{ graph.rootPackage.fqpn }}</h1>
    <h3>Packages:</h3>
    <ul>
    {% for package in graph.getPackages() %}
      <li>{{ package|packageButton|raw }}</li>
    {% endfor %}
    </ul>

    <h3>Types:</h3>
    <ul>
    {% for type in graph.getTypes() %}
      <li>{{ type|typeButton|raw }}</li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}
