{% extends "base.html.twig" %}

{% block content %}
  <div class="container">
    <form action="#" method="POST">
      <div class="row">
        <div class="col-md-9">
          <div style="float: right; margin-top: 10px;">
            <a href="{{ path('node', {'fqnn': fqnn} ) }}" class="btn btn-default">Back</a>
            <button type="submit" class="btn btn-success">Save</button>
          </div>
          <h1>{{ fqnn }}</h1>
          <textarea name="yaml" class="ace-editor" data-mode="yaml" data-lines="30">{{yaml}}</textarea>
        </div>

        <div class="col-md-3">
        </div>

      </div>
    </form>
  </div>
{% endblock %}
