{% extends "base.html.twig" %}

{% block content %}
  <div class="container">
    <h1><i class="fa fa-book"></i> {{ package.getFqpn() }}</h1>

    <h3>Types:</h3>
    <ul>
    {% for type in package.getTypes() %}
      <li>{{ type|typeButton|raw }}</li>
    {% endfor %}
    </ul>
    Generate <a href="{{ path('package_readme', { 'fqpn': package.getFqpn() } ) }}">README.md</a>
  </div>
{% endblock %}
